{% include 'header.twig' with {'title': 'Administration', 'css': 'admin/index', 'active': 'admin'} %}

<!-- https://cdn.discordapp.com/attachments/495292847097118720/560826946234351628/hqdefault.png?CoucouLesCopainsCeciEstUnEasterEgg-->
<main role="main">
    <div class="jumbotron" style="border-radius: 0">
        <div class="container">
            <h1 class="display-3"
                style="word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto;">Panneau
                d'administration</h1>
        </div>
    </div>

    <div class="container">
        <h1>Options administrateur :</h1>
        <div id="toolbar1">
            <p>Membres du site</p>
        </div>
        <table id="user-table" data-toggle="table" data-sortable="true" data-toolbar="#toolbar1" data-search="true"
               data-search-text="" data-sort-name="rankhide" data-sort-order="desc">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Mail</th>
                <th data-field="role">Rôle</th>
                <th>Options</th>
                <th data-field="rankhide">rank</th>
            </tr>
            </thead>
            <tbody>
            {% set rank = ['Membre', 'Membre Actif', 'Bureau', 'Président', 'Développeur'] %}
            {% for target in users %}
                <tr>
                    <td>{{ target.id }}</td>
                    <td id="{{ target.name }}" class="account-name">{{ target.name }}</td>
                    <td id="{{ target.name }}" class="account-mail">{{ target.mail }}</td>
                    <td id="{{ target.name }}" class="account-rank" data-rank="{{ target.rank }}">{{ rank[target.rank] }}</td>
                    <td>
                        <button id="promote-account" name="{{ target.name }}" class="btn btn-primary btn-sm"
                                data-toggle="confirmation" {{ target.rank >= user.rank-1 ? 'disabled' }}><i class="fas fa-level-up-alt"></i></button>
                        <button id="demote-account" name="{{ target.name }}" class="btn btn-primary btn-sm"
                                data-toggle="confirmation" {{ target.rank > user.rank-1 or target.rank == 0 ? 'disabled' }}><i class="fas fa-level-down-alt"></i></button>
                    </td>
                    <td id="{{ target.name }}" class="rank-hidden">{{ target.rank }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>

        {% if user.rank >= 4 %}
            <!-- DEVELOPPER OPTIONS -->
            <h1>Options développeurs :</h1>
            <p>Mode du site : <span id="site-mode">{{ mode }}</span></p>
            <div id="dev-options">
                <button id="maintenance" class="btn btn-danger">Passer le site en maintenance</button>
                <button id="dev-mode" class="btn btn-danger">Passer le site en dev</button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseBreach"
                        aria-expanded="false" aria-controls="collapseBreach">Montrer les violations
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseError"
                        aria-expanded="false" aria-controls="collapseError">Montrer le fichier erreur
                </button>
            </div>

            <div class="collapse" id="collapseBreach">
                <div id="toolbar2">
                    <h5>Historique des violations</h5>
                </div>
                <table data-toggle="table" data-sortable="true" data-toolbar="#toolbar2" data-search="true"
                       data-search-text="">
                    <thead>
                    <tr>
                        <th data-sortable="true">ID</th>
                        <th data-sortable="true">Compte</th>
                        <th data-sortable="true">Action</th>
                        <th data-sortable="true">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for breach in breaches %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ breach.user }}</td>
                            <td>{{ breach.action }}</td>
                            <td>{{ breach.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="collapse" id="collapseError">
                <div class="form-group" style="margin-top: 1rem">
                    <textarea class="form-control" id="textareaError" rows="15" autocomplete="off" autocorrect="off"
                              autocapitalize="off"
                              spellcheck="false">{{ errorreport ? errorreport : 'Fichier d\'erreur vide.' }}</textarea>
                </div>
            </div>
            <hr class="no-top-margin">
        {% endif %}
    </div> <!-- /container -->

</main>
<input type="text" name="csrf" value="<?= Session::getInstance()->read('csrf'); ?>" style="display: none">

{% include 'footer.twig' with {'js': 'admin'} %}