.preface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.preface > p {
    margin: 0;
}

.btn-xs {
    padding: .25rem .25rem;
    font-size: .875rem;
    line-height: 1.2;
    border-radius: .2rem;
}

.delete-button {
    width: 22px;
    height: 22px;
    margin-left: 8px;
    padding: 0;
    line-height: 0;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 21px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #E44934;
    color: #fff;
    cursor: pointer;
}

.text-input {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.50);
    padding: 5px;
}

.collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.2rem;
    margin-bottom: 5px;
    text-decoration: none !important;
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 8px;
}

.collapse-toggle {
    text-decoration: none !important;
}

.collapse-header:hover {
    background-color: #fff;
}

.collapse-body {
    width: calc(100% - 2rem);
    margin-bottom: 5px;
    margin-left: 2rem;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 8px;
}

.collapse-body > ul {
    margin: 0;
}

.fa-chevron-right {
    margin-top: 3px;
    margin-right: 5px;
    transition-duration: 0.3s;
    transform-origin: 5px 9px;
}

.collapse-toggle:not(.collapsed) > .fa-chevron-right {
    transform: rotate(90deg);
}

@media (min-width: 992px) {
    .collapse-header {
        width: 70%;
    }

    .collapse-body {
        width: calc(70% - 2rem);
    }
}