code {
    background-color: rgba(27,31,35,.05);
    color: #000a;
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
}

.collapse-body > h1, .collapse-body > h2, .collapse-body > h3, .collapse-body > h4, .collapse-body > h5, .collapse-body > h6 {
    padding-bottom: 3px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
}