.btn-xs {
    padding: .25rem .25rem;
    font-size: .875rem;
    line-height: 1.2;
    border-radius: .2rem;
}

.preface-flex {
    display: flex;
    justify-content: space-between;
}

.collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.2rem;
    margin-bottom: 5px;
    text-decoration: none !important;
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 8px;
}

.collapse-toggle {
    text-decoration: none !important;
}

.collapse-header:hover {
    background-color: #fff;
}

.collapse-body {
    width: calc(100% - 2rem);
    margin-bottom: 5px;
    margin-left: 2rem;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 8px;
}

.collapse-body > ul {
    margin: 0;
}

.fa-chevron-right {
    margin-top: 3px;
    margin-right: 5px;
    transition-duration: 0.3s;
    transform-origin: 5px 9px;
}

.collapse-toggle:not(.collapsed) > .fa-chevron-right {
    transform: rotate(90deg);
}
