<footer class="container">
    <p>&copy; Club Robot Esisar - 2019</p>
</footer>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/js/bootstrap-notify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% for js in cdnjs %}
    <script src="{{ js }}"></script>
{% endfor %}
<script src="/js/app.js"></script>
<script>
    $(function() {
       let post = $.post;
       $.post = function(url, data) {
           let newdata = {...data, 'req': 'ajax', 'csrf': $('meta[name=csrf-token]').attr('content')};
           return post(url, newdata);
       }
    });
</script>

<script src="{{ '/js/'~ js ~'.js' }}"></script>

{% if flashes %}
<script>
    $(function () {
        {% for type, flash in flashes %}
        $.notify({
            message: '{{ flash }}'
        }, {
            type: '{{ type }}',
            placement: {
                from: "top",
                align: "right"
            },
        });
        {% endfor %}
    });
</script>
{% endif %}
</body>
<!--                       
            _,--._
          ,'      `.
  |\     / ,-.  ,-. \     /|
  )o),/ ( ( o )( o ) ) \.(o(
 /o/// /|  `-'  `-'  |\ \\\o\
/ / |\ \(   .    ,   )/ /| \ \
| | \o`-/    `\/'    \-'o/ | |
\ \  `,'              `.'  / /
\.  \ `-'  ,'|   /\   |`.  `-' /  ,/
\`. `.__,' /   /  \   \ `.__,' ,'/
\o\     ,'  ,'    `.  `.     /o/
\o`---'  ,'        `.  `---'o/
 `.____,'  -Esisar   `.____,'-->
</html>
