<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Kinsteen">
    <meta name="csrf-token" content="{{ generateCSRF() }}"/>

    <link rel="manifest" href="/manifest.json">

    <link rel="icon" href="/img/favicon.ico">

    <title>{{ title ? title ~ ' - Club Robot Esisar' : 'Club Robot Esisar' }}</title>

    <link rel="canonical" href="https://cre.kinsteen.fr">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <!-- Tables CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">

    <!-- Checkbox CSS -->
    <link rel="stylesheet" href="/css/awesome-bootstrap-checkbox.css">

    {% for css in cdncss %}
        <link rel="stylesheet" href="{{ css }}">
    {% endfor %}

    {% if css %}
        {% if css is iterable %}
            {% for file in css %}
                <link rel="stylesheet" href="{{ '/css/'~ file ~'.css' }}">
            {% endfor %}
        {% else %}
            <link rel="stylesheet" href="{{ '/css/'~ css ~'.css' }}">
        {% endif %}
    {% endif %}

    <style type="text/css">
        h1, h2, h3, h4, h5, h6, .navbar-brand, button, a.btn {
            font-family: 'Open Sans', sans-serif;
        }

        * {
            font-family: 'Noto Sans TC', sans-serif;
        }

        body {
            padding-top: 3.5rem;
        }

        .dropdown-toggle::after {
            margin-left: .355rem;
            vertical-align: 0.15rem;
        }
    </style>
    {% if theme == 'dark' %}
        <link id="dark-theme-css" rel="stylesheet" type="text/css" href="/css/dark-mode.css">
    {% endif %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Club Robot Esisar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ active == 'home' ? 'active' : '' }}">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item {{ active == 'inventaire' ? 'active' : '' }}">
                <a class="nav-link" href="/inventaire">Inventaire</a>
            </li>
            <li class="nav-item dropdown {{ active == 'demande' ? 'active' : '' }}">
                <a class="nav-link dropdown-toggle" href="#" id="request-dropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Demande</a>
                <div class="dropdown-menu" aria-labelledby="request-dropdown">
                    <a class="dropdown-item" href="/requete/achat">Achat de matériel</a>
                    <a class="dropdown-item" href="/requete/pret">Prêt de matériel</a>
                    <a class="dropdown-item" href="/requete/impression">Impression 3D</a>
                </div>
            </li>
            {% if user and user.rank|number_format >= 1 %}
                <li class="nav-item {{ active == 'reunions' ? 'active' : '' }}">
                    <a class="nav-link" href="/reunions">Réunions</a>
                </li>
            {% endif %}
            {% if user and user.rank|number_format > 1 %}
                <li class="nav-item {{ active == 'admin' ? 'active' : '' }}">
                    <a class="nav-link" href="/admin">Administration</a>
                </li>
            {% endif %}
        </ul>

        <hr class="d-block d-md-none navbar-separator">

        {% if not user %}
            <!-- Not Connected -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary my-2 my-sm-0" href="/accounts/register">S'inscrire</a>
                </li>
            </ul>
        {% else %}
            <!-- Connected -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown {{ active == 'account' ? 'active' : '' }}">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Bonjour {{ user.name }} !&nbsp;</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/accounts">Gestion du compte</a>
                        <a class="dropdown-item" href="/accounts/logout">Se déconnecter</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>