{% include 'header.twig' with {'css': 'index', 'active': 'home'} %}

<!-- https://cdn.discordapp.com/attachments/495292847097118720/560826946234351628/hqdefault.png?CoucouLesCopainsCeciEstUnEasterEgg-->
<main role="main">
    <div class="jumbotron" style="border-radius: 0">
        <div class="container">
            <h1 class="display-3 animated bounce">{{ random(
                [
                    'Bonjour',
                    'Guten Tag',
                    'Hello',
                    'こんにちは',
                    'Hola',
                    '你好'
                ]) }} !</h1>
            <p>Voici ce qu'il y a de nouveau.</p>
            <p><a class="btn btn-primary btn-lg" href="/reunions" role="button">Voir les réunions &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        {% if user %}
            {% if counter != 0 %}
                <h4 style="margin-bottom: 1.5rem;">Historique des actions :</h4>
                <div class="row">
                    {% for card in cards %}
                        <div id="{{ loop.index }}" class="card-container col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ card.title }}</h5>
                                    <p class="card-text">{{ card.content }}</p>
                                    <div class="card-bottom">
                                        <p class="card-text card-date text-muted">{{ card.date }}</p>
                                        <a href="" id="{{ card.id }}"
                                           class="card-link card-link-right card-dismiss">Ok</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h4 style="margin-bottom: 1.5rem;">Il n'y a rien à afficher...</h4>
            {% endif %}
        {% else %}
            <h4 style="margin-bottom: 1.5rem;">Vous devez être connecté pour voir l'historique.</h4>
        {% endif %}
        <hr>
        <!-- https://cdn.discordapp.com/attachments/469837929078980609/558365289599729664/unknown.png?Click=InstantCurseFor10Years-->
    </div> <!-- /container -->

</main>

{% include 'footer.twig' with {'js': 'index'} %}