{% include 'header.twig' with {'title': 'Inventaire', 'css': 'inventaire', 'active': 'inventaire'} %}

<!-- https://cdn.discordapp.com/attachments/495292847097118720/560826946234351628/hqdefault.png?CoucouLesCopainsCeciEstUnEasterEgg-->
<main role="main">
    <div class="jumbotron" style="border-radius: 0">
        <div class="container">
            <h1 class="display-3">L'inventaire</h1>
        </div>
    </div>

    <div class="container">
        <table data-toggle="table" data-sortable="true" data-search="true" data-search-text="">
            <thead>
            <tr>
                <th data-sortable="true">Item ID</th>
                <th data-sortable="true">Item Name</th>
                <th data-sortable="true">Item Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Item 1</td>
                <td>$1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Item 2</td>
                <td>$2</td>
            </tr>
            </tbody>
        </table>
        <hr>

    </div> <!-- /container -->

</main>
{% include 'footer.twig' with {'js': 'inventaire'} %}