{% include 'header.twig' with {'title': 'Liens', 'css': 'links', 'active': ''} %}

<main role="main">
    <div class="jumbotron" style="border-radius: 0">
        <div class="container">
            <h1 class="display-3">Les liens utiles</h1>
        </div>
    </div>

    <div class="container">
        <ul>
            <li>
                <img src="/img/discord.svg" style="width: 3em">
                <a href="https://discord.gg/wXYVmKW">Le serveur Discord ! Toutes les infos passent dessus.</a>
            </li>
            <li>
                <img src="/img/gitlab.png" style="width: 3em">
                <a href="https://gitlab.com/robotsisar">Le Gitlab du Club ! C'est la qu'on gère tout le versioning du code écrit au Club, dont le code de ce beau site.</a>
            </li>

        </ul>
        <hr>
    </div>


{% include 'footer.twig' with {'js': 'links'} %}