/**
 * General tweaks
 */
body {
    background-color: #121212;
    color: #e0e0e0;
}

.jumbotron {
    background-color: rgba(255,255,255,0.05);
}

a {
    color: #2196F3;
}

hr {
    background-color: rgba(255,255,255,0.16);
}

textarea.form-control {
    background-color: rgba(255,255,255,0.16);
    color: #fff;
}

textarea.form-control:focus {
    background-color: rgb(255,255,255,0.16);
    color: #fff;
}

.far.fa-file {
    color: #fff;
}

/**
 * ALERTS
$.notify({
    message: "Ceci est un test d'alerte permanent"
},{
    type: 'success',
    placement: {
        from: "bottom",
        align: "center"
    },
    delay :'-1'
});
 */
div.alert > button.close {
    color: #000;
}

.alert {
    border: 0;
    box-shadow: 0px 0px 10px #000;
}

.alert-success { /* C'est un test, à modifier */
    color: #204b2a;
    background-color: #A4EDA8;
}

.alert-danger { /* C'est un test, à modifier */
    color: #4a272a;
    background-color: #e16f83;
}

/**
 * MODALS
 */
.modal-content {
    background-color: rgb(33,33,33);
}

.modal-header {
    border-bottom: 1px solid #393b3e;
}

.modal-footer {
    border-top: 1px solid #393b3e;
}

.modal-header > .close {
    color: rgb(255,255,255);
}

.modal-header > .close:not(:disabled):not(.disabled):hover {
    color: rgb(255,255,255);
}

/**
 * POPOVER
 */
.popover {
    background-color: #303030;
}

.popover-header {
    background-color: #303030;
}

.popover-body {
    color: #fff;
}

.bs-popover-auto[x-placement^="top"] .arrow::after, .bs-popover-top .arrow::after {
    border-top-color: #303030;
}

.bs-popover-auto[x-placement^="left"] .arrow::after, .bs-popover-left .arrow::after {
    border-left-color: #303030;
}

.bs-popover-auto[x-placement^="right"] .arrow::after, .bs-popover-right .arrow::after {
    border-right-color: #303030;
}

.bs-popover-auto[x-placement^="bottom"] .arrow::after, .bs-popover-bottom .arrow::after {
    border-bottom-color: #303030;
}

.bs-popover-auto[x-placement^="top"] .popover-header::before, .bs-popover-top .popover-header::before {
    border-bottom-color: #303030;
}

.bs-popover-auto[x-placement^="left"] .popover-header::before, .bs-popover-left .popover-header::before {
    border-bottom-color: #303030;
}

.bs-popover-auto[x-placement^="right"] .popover-header::before, .bs-popover-right .popover-header::before {
    border-bottom-color: #303030;
}

.bs-popover-auto[x-placement^="bottom"] .popover-header::before, .bs-popover-bottom .popover-header::before {
    border-bottom-color: #303030;
}

/**
 * DROPDOWN
 */
.dropdown-menu {
    background-color: rgb(44,44,44);
    color: #fff;
}

.dropdown-item {
    color: #ececec;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #b7b7b7;

}

/**
 * CARDS
 */
.card {
    box-shadow: 0px 0px 5px rgb(0,0,0);
    background-color: rgba(255,255,255,0.07);
    border: 0;
}

.card-link-right {
    background-color: rgba(255,255,255,0.04);
    border: 1px solid rgba(255, 255, 255, 0.24);
    box-shadow: 0px 0px 4px rgb(0,0,0);
}

/**
 * TABLES
 */
.table {
    color: #f3f3f3;
}

.table-hover tbody tr:hover {
    color: #f3f3f3;
    background-color: rgba(0,0,0,.075);
}

.table thead th {
    border-bottom-color: #2b2e30;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #2b2e30;
}

.table-bordered {
    border: 1px solid #2b2e30;
}

.table-bordered tr:not(:last-child) > td:last-child {
    border:0;
    border-bottom: 1px solid #2b2e30;
}

.table-bordered tr:last-child > td:last-child {
    border:0;
}

.breadcrumb {
    background-color: rgba(255, 255, 255, 0.24);
}

.breadcrumb-item.active {
    color: rgba(255,255,255, 0.70);
}


/**
 * DATE PICKER
 */
.datepicker-panel > ul > li {
    background-color: #3e3e3e;
}

.datepicker-panel > ul[data-view="week"] > li, .datepicker-panel > ul[data-view="week"] > li:hover {
    background-color: #353535;
}

.datepicker-dropdown {
    border: 1px solid #444;
    box-shadow: 0 3px 6px #000;
}

.datepicker-top-left, .datepicker-top-right {
 border-top-color:#39f
}

.datepicker-top-left::after, .datepicker-top-right::after {
    border-bottom-color: #3e3e3e;
}
.datepicker-panel > ul > li:hover {
    background-color: #5a5a5a;
}

.datepicker-panel > ul > li.disabled, .datepicker-panel > ul > li.disabled:hover {
    background-color: #6c6c6c;
    color: #a4a4a4;
    cursor: default;
}

.datepicker-panel > ul > li.highlighted {
    background-color: #bcc9d7;
    color: #4a3b3b;
}

/**
 * COLLAPSE
 */
.collapse-header, .collapse-header:hover, .collapse-body {
    background-color: #2a2a2a;
}

.collapse-toggle:hover {
    background-color: #2a2a2a;
}

/**
 * MARKDOWN
 */
code {
    background-color: rgba(255, 255, 255, 0.09);
    color: #ffffffab;
}

.collapse-body > h1, .collapse-body > h2, .collapse-body > h3, .collapse-body > h4, .collapse-body > h5, .collapse-body > h6 {
    border-bottom: 1px solid #545454;
}