*{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

body{
    font-family: 'Nunito', 'Lato', sans-serif;
    color: #ddd;
    margin: 0;
    background-color: #383838;
}

h1{
    font-size: 35px;
    display: inline-block;
    text-align: center;
    padding-right: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h1::after {
    transition: all 0.6s;
    content: '';
    display: inline-block;
    opacity: 0%;
    width: 3px;
    height: 35px;
    background-color: #ddd;
    margin-bottom: -8px;
    animation: type .8s alternate infinite;
    margin-left: 5px;
}

p {
    margin-bottom: 3rem;
    text-align: center;
}

a {
    color: #279CDD;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #3F7D9F; /* make it darker */
}

a.btn {
    padding: 8px 16px;
    border: 1px solid #279CDD;
    border-radius: 20px;
}

a.btn:hover {
    border-color: #3F7D9F;

}

#container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    width: 100vw;
    height: 80vh;
    margin: auto;
}
@media (min-width: 576px) {
    h1 {
        font-size: 50px;
    }

    h1::after {
        height: 50px;
    }
}

@media (min-width: 768px) {
    #container {
        width: 70vw;
    }

    h1 {
        font-size: 60px;
    }

    h1::after {
        height: 60px;
    }
}

@keyframes type{
    from{opacity: 0;}
    to{opacity: 1;}
}
