.btn-xs {
    padding: 0rem 0.4rem;
}

.far.fa-folder {
    color: #28a745;
    margin-right: 1rem;
}

.far.fa-file {
    color: black;
    margin-right: 1rem;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-between;
}

.rename {
    margin-bottom: 5px;
}

.loading-cursor {
    cursor: progress !important;
}

.table {
    animation-duration: .2s !important;
}

@media (min-width: 768px) {    
    .fixed-table-body {
        overflow: hidden !important;
    }
}

.spinner {
    width: 70px;
    text-align: center;
    position: absolute;
    top: 50px;
    left: calc(50% - 35px);
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #fff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}