.card {
    margin-bottom: 1.5em;
    border-radius: 1rem;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.card-link-right {
    font-weight: bold;
    text-transform: uppercase;
    padding : .375rem .75rem;
    margin: 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1rem;
}

.card-date {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.navbar-separator {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 90%;
}
