* {
  font-family: 'Nunito', 'Lato', sans-serif;
}

body {
  padding-top: 15px;
  padding-bottom: 40px;
  background-color: #eee;
  color: #000;
}
  
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input:first-of-type:not([type=checkbox]) {
  margin-bottom: -1px;  
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input:not([type=checkbox]) {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin input:last-of-type:not([type=checkbox]) {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-signin button[type="submit"] {
  margin-top: 10px;
}

.back-button {
  margin-bottom: 1rem;
}

.checkbox {
  margin: 0;
  padding-left: 5px;
}