{% include 'header.twig' with
    {
        'title': 'Articles',
        'css': ['articles/index'],
        'active': 'articles'
    }
%}

<main role="main">
    <div class="jumbotron" style="border-radius: 0">
        <div class="container">
            <h1 class="display-4">Les articles</h1>
        </div>
    </div>

    <div class="container">
    {% for article in articles %}
        <h1>{{ article.title }}</h1>
        <small class="text-muted">Par {{ article.author }}, le {{ article.date }}</small>
        {{ article.content|raw }}
        <hr>
    {% endfor %}
    </div> <!-- /container -->
</main>
{% include 'footer.twig' with {'js': 'articles/index'} %}
