{% include 'header.twig' with {'title': 'Gestion du compte', 'css': '', 'active': 'account'} %}

<!-- https://cdn.discordapp.com/attachments/495292847097118720/560826946234351628/hqdefault.png?Comment=CoucouLesCopainsCeciEstUnEasterEgg-->
<main role="main">
  <div class="jumbotron" style="border-radius: 0">
    <div class="container">
      <h1 class="display-3" style="word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto;">Votre compte</h1>
    </div>
  </div>

  <div class="container">
    <h3>Changement de mot de passe</h3>
    <p class="text-muted mb-3">Un mail vous sera envoyé pour confirmer votre changement de passe.</p>
    <form action="" method="post" style="margin-bottom: 1rem" autocomplete="off">
      <div class="form-group col-md-7 p-0">
        <label for="password" class="sr-only">Mot de passe actuel</label>
        <input autocomplete="current-password" type="password" name="currentPassword" id="password" class="form-control" placeholder="Mot de passe actuel">
      </div>
      <div class="form-group col-md-7 p-0">
        <label for="newPassword" class="sr-only">Nouveau mot de passe</label>
        <input autocomplete="new-password" type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Nouveau mot de passe">
      </div>
      <div class="form-group col-md-7 p-0">
        <label for="newPassword2" class="sr-only">Confirmez le mot de passe</label>
        <input autocomplete="new-password" type="password" name="newPassword2" id="newPassword2" class="form-control" placeholder="Confirmez le mot de passe">
      </div>
      <button class="btn btn-lg btn-primary btn-block col-5" type="submit">Valider</button>
      <input type="text" name="csrf" value="<?= Session::getInstance()->read('csrf'); ?>" style="display: none;">
    </form>
    <hr>
    <h3>Réglages des notifications</h3>
    <div class="form-check radio radio-success">
      <input class="form-check-input" type="radio" name="notifications" id="notifications-on" value="option1" disabled>
      <label class="form-check-label" for="notifications-on">
        Activer les notifications (option non disponible pour le moment)
      </label>
    </div>
    <div class="form-check radio radio-success">
      <input class="form-check-input" type="radio" name="notifications" id="notifications-off" value="option2" checked>
      <label class="form-check-label" for="notifications-off">
        Désactiver les notifications
      </label>
    </div>
    <hr>
    <h3>Thème du site</h3>
    <div class="form-check radio radio-success">
      <input class="form-check-input" type="radio" name="theme" id="theme-light" value="light" {{ theme == 'light' ? 'checked'}}>
      <label class="form-check-label" for="theme-light">
        Mode lumineux
      </label>
    </div>
    <div class="form-check radio radio-success">
      <input class="form-check-input radio radio-primary" type="radio" name="theme" id="theme-dark" value="dark" {{ theme == 'dark' ? 'checked' }}>
      <label class="form-check-label" for="theme-dark">
        Mode sombre (<strong>bêta</strong>, n'hésitez pas à faire des retours au développeur)
      </label>
    </div>
    <hr>
    <button id="erase-history" class="btn btn-danger" data-toggle="confirmation">Effacer l'historique (page d'accueil)</button>
    <hr>
    <!-- https://cdn.discordapp.com/attachments/469837929078980609/558365289599729664/unknown.png?Click=InstantCurseFor10Years-->
  </div> <!-- /container -->

</main>

{% include 'footer.twig' with {'js': 'account'} %}