<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Inscription</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <!-- Checkbox CSS -->
    <link rel="stylesheet" href="/css/awesome-bootstrap-checkbox.css">

    <!-- Custom styles for this template -->
    <link href="/css/login.css" rel="stylesheet">

    {% if dark_mode %}
        <style type="text/css">
            a {
                color: #2196F3;
            }

            body {
                background-color: #2d2d2d;
                color: #fff;
            }
        </style>
    {% endif %}
</head>

<body>

<div class="container">
    <form class="form-signin" action="" method="post">
        <a class="btn btn-info btn-lg back-button" href="../" role="button"><i class="fas fa-arrow-left"></i> <span
                    class="back-title">Accueil</span></a>
        <h2 class="form-signin-heading">S'inscrire</h2>
        <label for="inputName" class="sr-only">Pseudo</label>
        <input type="text" name="name" id="inputName" class="form-control" placeholder="Pseudo" value="{{ name }}"
                {{ not name ? 'autofocus' : '' }}>
        <label for="inputEmail" class="sr-only">Adresse e-mail</label>
        <input type="email" name="mail" id="inputEmail" class="form-control" placeholder="Adresse e-mail"
               value="{{ mail }}" {{ name and not mail ? 'autofocus' : '' }}>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" {{ name and mail ? 'autofocus' : '' }}>
        <label for="inputConfirmPassword" class="sr-only">Confirmer le mot de passe</label>
        <input type="password" name="confirm-password" id="inputConfirmPassword" class="form-control"
               placeholder="Confirmer le mot de passe">
        <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>
        <a href="login" class="btn btn-lg btn-success btn-block">Se connecter <i class="fas fa-arrow-right"></i></a>
    </form>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/js/bootstrap-notify.js"></script>
{% if flashes %}
    <script>
        $(function () {
            {% for type, flash in flashes %}
            $.notify({
                message: '{{ flash }}'
            }, {
                type: '{{ type }}',
                placement: {
                    from: "top",
                    align: "right"
                },
            });
            {% endfor %}
        });
    </script>
{% endif %}
</body>
</html>
