{% include 'header.twig' with
    {
        'title': 'Ajout d\'une réunion',
        'css': 'reunions/add',
        'active': 'reunions',
        'cdncss' : ['https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css']
    }
%}
<main role="main">
    <div class="jumbotron" style="border-radius: 0">
        <div class="container">
            <h1 class="display-4">Ajout d'une réunion</h1>
        </div>
    </div>

    <div class="container">
        <div class="preface-flex">
            <div>
                <a id="quit" href="/reunions/list" class="btn btn-primary">Retour</a>
                <span class="text-muted">Conseil : Enregistrez directement la réunion, puis allez l'éditer. Vous aurez une sauvegarde automatique.</span>
            </div>
            <div>
                <button id="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </div>

        <hr>
        <h3>Ordres de la réunion du <strong><a data-toggle="datepicker" href="#">{{ date }}</a></strong> :</h3>
        <ul id="order">
            {% for order in orders %}
                <li>{{ order }}</li>
            {% endfor %}
            <li class="add-order"><input type="text" class="text-input" placeholder="Rajouter des éléments..."/></li>
        </ul>
        <div class="accordion" id="accordionCR">
            {% for order in orders %}
                <div id="card-{{ loop.index }}" class="collapse-card{{ loop.last ? ' template new-collapse' }}">
                    <div class="collapse-header">
                        <button class="btn btn-link collapse-toggle" type="button" data-toggle="collapse"
                                data-target="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                            <i class="fas fa-chevron-right"></i>{{ order }}
                        </button>
                        <div class="pos">
                            <a href="#"><i class="point-up fas fa-arrow-up"></i></a>
                            <a href="#"><i class="point-down fas fa-arrow-down"></i></a>
                        </div>
                    </div>

                    <div id="collapse-{{ loop.index }}" class="collapse-content collapse multi-collapse{{ loop.first ? ' show' }}" aria-labelledby="heading-{{ loop.index }}"
                         data-parent="#accordionCR">
                        <div class="collapse-body">
                            <textarea class="form-control">{{ contents[loop.index0] }}</textarea>
                        </div>
                    </div>
                </div>
            {% else %}
                <div id="card-0" style="display: none" class="collapse-card ghost template new-collapse">
                    <div class="collapse-header">
                        <button class="btn btn-link collapse-toggle" type="button" data-toggle="collapse"
                                data-target="#collapse-0" aria-expanded="false" aria-controls="collapse-0">
                            <i class="fas fa-chevron-right"></i>test
                        </button>
                        <div class="pos">
                            <a href="#"><i class="point-up fas fa-arrow-up"></i></a>
                            <a href="#"><i class="point-down fas fa-arrow-down"></i></a>
                        </div>
                    </div>

                    <div id="collapse-0" class="collapse-content collapse multi-collapse" aria-labelledby="heading-0"
                         data-parent="#accordionCR">
                        <div class="collapse-body">
                            <textarea class="form-control">test</textarea>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>
    </div> <!-- /container -->
</main>
{% include 'footer.twig' with {'js': 'reunions/add', 'cdnjs': ['https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js', '/js/reunions/common-edit.js', '/js/Flip.js']} %}