{% include 'header.twig' with
    {
        'title': 'Édition des réunions',
        'css': 'reunions/edit',
        'active': 'reunions',
        'cdncss' : ['https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css']
    } %}
<main role="main">
    <div class="jumbotron" style="border-radius: 0">
        <div class="container">
            <h1 class="display-4">Édition des réunions</h1>
        </div>
    </div>

    <div class="container">
        <a href="/reunions/show/{{ id }}" class="btn btn-primary">Retour</a>
        <span id="save">Le contenu a été sauvegardé !</span>
        <hr>
        <h3>Ordres de la réunion du <strong><a data-toggle="datepicker" href="#">{{ date }}</a></strong> :</h3>
        <ul id="order">
            {% for order in orders %}
                <li>{{ order }}</li>
            {% endfor %}
            <li class="add-order"><input type="text" class="text-input" placeholder="Rajouter des éléments..."/></li>
        </ul>
        <div class="accordion" id="accordionCR">
            {% for content in contents %}
                <div id="card-{{ loop.index }}" class="collapse-card{{ loop.last ? ' template new-collapse' }}">
                    <div class="collapse-header">
                        <button class="btn btn-link collapse-toggle" type="button" data-toggle="collapse"
                                data-target="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                            <i class="fas fa-chevron-right"></i>{{ orders[loop.index0] }}
                        </button>
                        <div class="pos">
                            <a href="#"><i class="point-up fas fa-arrow-up"></i></a>
                            <a href="#"><i class="point-down fas fa-arrow-down"></i></a>
                        </div>
                    </div>

                    <div id="collapse-{{ loop.index }}" class="collapse-content collapse multi-collapse{{ loop.first ? ' show' }}" aria-labelledby="heading-{{ loop.index }}"
                         data-parent="#accordionCR">
                        <div class="collapse-body">
                            <textarea class="form-control">{{ content }}</textarea>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>
    </div> <!-- /container -->
</main>
{% include 'footer.twig' with {'js': 'reunions/edit', 'cdnjs': ['https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js', '/js/reunions/common-edit.js', '/js/Flip.js']} %}