{% include 'header.twig' with
    {
        'title': 'Réunions',
        'css': ['reunions/index', 'reunions/markdown'],
        'active': 'reunions',
        'cdncss' : ['https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css']
    } %}

<main role="main">
    <div class="jumbotron" style="border-radius: 0">
        <div class="container">
            <h1 class="display-4">Réunions</h1>
        </div>
    </div>

    <div class="container">
        <div class="preface">
            {% if ghost.date %}
                {% if user.rank > 1 %}
                <p>La prochaine réunion est programmée pour le <strong><a data-toggle="datepicker" href="#">{{ ghost.date }}</a></strong>.</p>
                {% else %}
                <p>La prochaine réunion est programmée pour le <strong>{{ ghost.date }}</strong>.</p>
                {% endif %}
            {% else %}
                <p>Aucune réunion n'est prévue.</p>
                {% if user.rank > 1 %}
                <button id="pre" data-toggle="datepicker" class="btn btn-success btn-xs">Définir une date</button>
                {% endif %}
            {% endif %}
        </div>
        <hr>
        <h3>Ordre de la prochaine réunion :</h3>
        <ul id="order">
            {% for order in ghost.orders %}
                <li>{{ order }}</li>
            {% endfor %}
            
            {% if user.rank >= 2 %}
            <li class="add-order"><input type="text" class="text-input" placeholder="Rajouter des éléments..."/></li>
            {% endif %}
        </ul>
        <hr>
        {% if last.date %}
            <div class="preface">
                <h3>Compte rendu de la réunion du {{ last.date }} :</h3>
                <a class="btn btn-primary btn-xs" href="/reunions/list">Voir les anciennes réunions</a>
            </div>
            <div class="accordion" id="accordionPrevious">
                <div class="collapse-header">
                    <button class="btn btn-link collapse-toggle" type="button" data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-chevron-right"></i>Ordre de la réunion
                    </button>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionPrevious">
                    <div class="collapse-body">
                        <ul id="old-order">
                            {% for order in last.orders %}
                                <li>{{ order }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {% for content in last.contents %}
                    <div class="collapse-header">
                        <button class="btn btn-link collapse-toggle collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse-{{ loop.index+1 }}" aria-expanded="false"
                                aria-controls="collapse-{{ loop.index+1 }}">
                            <i class="fas fa-chevron-right"></i>{{ last.orders[loop.index0] }}
                        </button>
                    </div>

                    <div id="collapse-{{ loop.index+1 }}" class="collapse" aria-labelledby="heading-{{ loop.index+1 }}"
                         data-parent="#accordionPrevious">
                        <div class="collapse-body">
                            {{ content|raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="preface">
                <h3>Il n'y a encore aucune réunion...</h3>
                <a class="btn btn-primary btn-xs" href="/reunions/add">Ajouter une réunion</a>
            </div>
        {% endif %}
        <hr>
    </div> <!-- /container -->
</main>
{% include 'footer.twig' with {'js': 'reunions/index', 'cdnjs': ['https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js']} %}
