{% include 'header.twig' with
    {
        'title': 'Liste des réunions',
        'css': 'reunions/list',
        'active': 'reunions'
    } %}
<main role="main">
    <div class="jumbotron" style="border-radius: 0">
        <div class="container">
            <h1 class="display-4">Liste des réunions</h1>
        </div>
    </div>

    <div class="container">
        <a href="/reunions" class="btn btn-primary">Retour</a>
        <hr>
        <h3>Les différentes réunions :</h3>
        <ul id="reunions">
            {% for reunion in data %}
                <li id="{{ reunion.id }}"><a href="/reunions/show/{{ reunion.id }}">Réunion du {{ reunion.date }}</a>
                    <ul>
                        {% for order in reunion.orders %}
                            <li>{{ order }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}

            {% if user.rank >= 2 %}
            <li><a class="btn btn-primary btn-xs" href="/reunions/add">Ajouter une réunion...</a></li>            
            {% endif %}
            
        </ul>

        <hr>
    </div> <!-- /container -->
</main>
{% include 'footer.twig' with {'js': 'reunions/list'} %}