{% include 'header.twig' with
    {
        'title': 'Réunions du ' ~ date,
        'css': ['reunions/show', 'reunions/markdown'],
        'active': 'reunions'
    }
%}

<main role="main">
    <div class="jumbotron" style="border-radius: 0">
        <div class="container">
            <h1 class="display-4">Réunion du {{ date }}</h1>
        </div>
    </div>

    <div class="container">
        <div class="preface-flex">
            <a href="/reunions/list" class="btn btn-primary">Retour</a>
            {% if id != null and user.rank >= 2 %}
                <div>
                    <button class="btn btn-danger" data-toggle="confirmation">Supprimer</button>
                    <a href="/reunions/edit/{{ id }}" class="btn btn-primary">Éditer</a>
                </div>
            {% endif %}
        </div>
        <hr>
        {% if id != null %}
        <div class="accordion" id="accordion">
            <div class="collapse-header">
                <button class="btn btn-link collapse-toggle" type="button" data-toggle="collapse" data-target="#collapse-1"
                        aria-expanded="true" aria-controls="collapse-1">
                    <i class="fas fa-chevron-right"></i>Ordre de la réunion
                </button>
            </div>

            <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion">
                <div class="collapse-body">
                    <ul id="orders">
                        {% for order in orders %}
                            <li>{{ order }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% for content in contents %}
            <div class="collapse-header">
            <button class="btn btn-link collapse-toggle collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse-{{ loop.index+1 }}" aria-expanded="false" aria-controls="collapse-{{ loop.index+1 }}">
                    <i class="fas fa-chevron-right"></i>{{ orders[loop.index0] }}
            </button>
            </div>

            <div id="collapse-{{ loop.index+1 }}" class="collapse" aria-labelledby="heading-{{ loop.index+1 }}" data-parent="#accordion">
                <div class="collapse-body">
                    {{ content|raw }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Cette réunion n'existe pas.</p>
        {% endif %}
        <hr>
    </div> <!-- /container -->
</main>
{% include 'footer.twig' with {'js': 'reunions/show'} %}
