<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Kinsteen">

    <link rel="manifest" href="/manifest.json">

    <link rel="icon" href="/img/favicon.ico">

    <title>Erreur 404</title>

    <link rel="canonical" href="https://cre.kinsteen.fr">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>
<body>
    <div id="container" class="animated zoomIn faster" ><!-- flex container -->
        <h1>Erreur 404</h1>
        <p>Page non trouvée.</p>
        <a class="btn" href="/">Retour à l'accueil</a>
    </div>
</body>
{% if flashes %}
    <script>
        $(function () {
            {% for flash in flashes %}
            $.notify({
                message: "{{ flash.message }}"
            }, {
                type: '{{ flash.type }}',
                placement: {
                    from: "top",
                    align: "right"
                },
            });
            {% endfor %}
        });
    </script>
{% endif %}
</html>