<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Kinsteen">

    <link rel="manifest" href="/manifest.json">

    <link rel="icon" href="/img/favicon.ico">

    <title>Maintenance en cours.</title>

    <link rel="canonical" href="https://cre.kinsteen.fr">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>
<body>
    <div id="container" class="animated zoomIn faster" ><!-- flex container -->
        <h1 class="animated zoomIn">Une maintenance du site est en cours.</h1>
        <p>Nous faisons notre possible pour ramener le site à la vie.</p>
        <a class="btn" href="/admin">Panneau administration</a>
    </div>
</body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/js/bootstrap-notify.js"></script>
{% if flashes %}
    <script>
        $(function () {
            {% for flash in flashes %}
            $.notify({
                message: "{{ flash.message }}"
            }, {
                type: '{{ flash.type }}',
                placement: {
                    from: "top",
                    align: "right"
                },
            });
            {% endfor %}
        });
    </script>
{% endif %}
</html>