#dev-options {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#dev-options > button {
    margin-bottom: 1rem;
}

#dev-options > button:not(:last-child) {
    margin-right: 1rem;
}

.no-top-margin {
    margin-top: 0;
}